.profile__add-btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: block;
	margin: 0 auto;
	min-width: 282px;
	min-height: 50px;
	padding: 0;
	cursor: pointer;
	border: 1px solid #fff;
	background-color: #000;
	background-image: url(../../../images/icons/add-icon.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
}