.pop-up__input {
	min-width: 238px;
	min-height: 27px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 14px;
	line-height: 17px;
	padding: 0;
}

.pop-up__input:focus {
	outline-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 769px){
	.pop-up__input {
		min-width: 358px;
	}
}