.card__icon {
	min-height: 19px;
	min-width: 22px;
	padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	border: none;
	background: none;
	background-image: url(../../../images/icons/like-icon.svg);
}