.profile__info {
	margin-bottom: 36px;
	display: grid;
	grid-template-areas:
			'name button'
			'info .';
	column-gap: 10px;
	row-gap: 14px;
}

@media screen and (min-width: 769px) {
	.profile__info {
		max-width: 336px;
		margin: 0;
		row-gap: 16px;
		column-gap: 18px;
		align-items: center;
		justify-items: start;
		align-self: center;
	}
}
