.btn_type_close {
	position: absolute;
	top: -36px;
	right: 0;
	min-width: 20px;
	min-height: 20px;
	background-size: cover;
	background-image: url(../../../images/icons/clos-icon.svg);
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity ease .2s;
}

.btn_type_close:hover {
	opacity: 0.6;
}


@media screen and (min-width: 769px){
	.btn_type_close {
		min-width: 32px;
		min-height: 32px;
		right: -40px;
		top: -40px;
	}
}